@{
    ViewBag.Title = "DialogModal";
}


<!-- Message Dialog -->
<div id="dialog-message" class="hide">
	<p id="dialog-message-content1"></p>

	<div class="hr hr-12 hr-double"></div>

	<p id="dialog-message-content2"></p>
</div><!-- #dialog-message -->


<!-- Confirm Dialog -->
<div id="dialog-confirm" class="hide">
	<div class="alert alert-info bigger-110" id="dialog-confirm-content1"></div>

	<div class="space-6"></div>

	<p class="bigger-110 bolder center grey" id="dialog-confirm-content2">
		<i class="icon-hand-right blue bigger-120"></i>
	</p>
</div><!-- #dialog-confirm -->



<script type="text/javascript">

	//override dialog's title function to allow for HTML titles
	$.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
		_title: function (title) {
			var $title = this.options.title || '&nbsp;'
			if (("title_html" in this.options) && this.options.title_html == true)
				title.html($title);
			else title.text($title);
		}
	}));


	var hideAlert = function () {
	    //alert($("#dialog-message").is(':data(dialog)'));
		$("#dialog-message").dialog("close");
	}

	var hideConfirm = function () {
	    $("#dialog-confirm").dialog("close");
	}

	var showLoading = function () {
		var progressBar = "";
		progressBar = '<div class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" id="progressbar" role="progressbar" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100">'
		progressBar += '<div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;"></div>'
		progressBar += '</div>';
		showAlert("Loading.....", progressBar, false);
	}

	var hideLoading = function () {
		hideAlert();
	}

	var showAlert = function (title, body, isConfirm, OK_Func, body2) {
		
		//e.preventDefault();

		$('#dialog-message-content1').html(body);
		$('#dialog-message-content2').html(body2);

		var buttons = new Array();
		if (isConfirm == true) {
			buttons[0] = {
				text: "Cancel",
				"class": "btn btn-xs",
				click: function () {
					$(this).dialog("close");
					$('#hideAlert').modal("hide");
				}
			}
			buttons[1] = {
				text: "OK",
				"class": "btn btn-danger btn-xs",
				click: function () {
					if (OK_Func == null || OK_Func == undefined) {
						$(this).dialog("close");
					} else {
						eval(OK_Func);
					}
				}
			}
		} else {
			buttons[0] = {
				text: "OK",
				"class": "btn btn-primary btn-xs",
				click: function () {
					if (OK_Func == null || OK_Func == undefined) {
						$(this).dialog("close");
					} else {
						eval(OK_Func);
					}
				}
			}
		}

		var dialog = $("#dialog-message").removeClass('hide').dialog({
            width: 480,
			modal: true,
			title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='icon-ok'></i> " + title  + "</h4></div>",
			title_html: true,
			buttons: buttons,
			show: {
			    effect: "fade",
			    duration: 300
			},
			hide: {
			    effect: "fade",
			    duration: 300
			}
		});

	}





//var showConfirm = function (title, content, OK_Func, NO_Func) {
//	e.preventDefault();

//	var dialog = $("#dialog-message").removeClass('hide').dialog({
//	    width: 480,
//		modal: true,
//		title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='icon-ok'></i> jQuery UI Dialog</h4></div>",
//		title_html: true,
//		buttons: [
//			{
//				text: "Cancel",
//				"class": "btn btn-xs",
//				click: function () {
//					if (NO_Func == null) {
//						$(this).dialog("close");
//					} else {
//						eval(NO_Func);
//					}
//				}
//			},
//			{
//				text: "OK",
//				"class": "btn btn-primary btn-xs",
//				click: function () {
//					if (OK_Func == null) {
//						$(this).dialog("close");
//					} else {
//						eval(OK_Func);
//					}
//				}
//			}
//		],
//		show: {
//		    effect: "fade",
//		    duration: 1000
//		},
//		hide: {
//		    effect: "fade",
//		    duration: 1000
//		}
//	});

//	dialog.data("uiDialog")._title = function (title) {
//		title.html(this.options.title);
//	};

//	/**
//	dialog.data( "uiDialog" )._title = function(title) {
//		title.html( this.options.title );
//	};
//	**/
//}


//var showConfirmAlert = function (title, content, OK_Func, NO_Func) {
//	e.preventDefault();

//	$("#dialog-confirm").removeClass('hide').dialog({
//		resizable: false,
//		modal: true,
//		title: "<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> Empty the recycle bin?</h4></div>",
//		title_html: true,
//		buttons: [
//			{
//				html: "<i class='icon-trash bigger-110'></i>&nbsp; Delete all items",
//				"class": "btn btn-danger btn-xs",
//				click: function () {
//					$(this).dialog("close");
//				}
//			}
//			,
//			{
//				html: "<i class='icon-remove bigger-110'></i>&nbsp; Cancel",
//				"class": "btn btn-xs",
//				click: function () {
//					$(this).dialog("close");
//				}
//			}
//		]
//	});
//}


</script>