
<!-- 직원선택 -->
<div id="dialog-emp" class="hide">
	<div class="alert alert-info bigger-110" id="dialog-emp-content1">직원선택</div>
	
	<div class="space-6"></div>

	<p class="bigger-110 bolder center grey" id="dialog-emp-content2">
		@{
			Html.RenderAction("CodeTree", "Code", new RouteValueDictionary { { "tree_type", "company" } });
		}
		
	</p>
</div><!-- #dialog-confirm -->

<script type="text/javascript">

	var showEmpSelector = function () {
		//alert("ck");
		//e.preventDefault();

		var title = "Select Member";

		var dialog = $("#dialog-emp").removeClass('hide').dialog({
			width: 820,
			height: 580,
			modal: true,
			title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='icon-ok'></i> " + title + "</h4></div>",
			title_html: true,
			buttons: [{
				text: "OK",
				"class": "btn btn-primary btn-xs",
				click: function () {
					$(this).dialog("close");
				}
			}],
			show: {
				effect: "fade",
				duration: 300
			},
			hide: {
				effect: "fade",
				duration: 300
			}
		});

	}

</script>