@{
    ViewBag.Title = "List";
}

<div class="row">
	<div class="col-lg-4">

		<!-- /.panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				Account List
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">


			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->

	</div>
	<!-- /.col-lg-12 -->

	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				Account Detail
			</div>
			<div class="panel-body">

			</div>
		</div>
	</div>

</div>
<!-- /.row -->



